 <!DOCTYPE html>
<!-- Main Page start website--> 
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Thymeleaf Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/js/bootstrap.min.js}" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="derma/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="derma/css/owl.carousel.min.css">
    <link rel="stylesheet" href="derma/css/magnific-popup.css">
    <link rel="stylesheet" href="derma/css/font-awesome.min.css">
    <link rel="stylesheet" href="derma/css/themify-icons.css">
    <link rel="stylesheet" href="derma/css/nice-select.css">
    <link rel="stylesheet" href="derma/css/flaticon.css">
    <link rel="stylesheet" href="derma/css/gijgo.css">
    <link rel="stylesheet" href="derma/css/animate.css">
    <link rel="stylesheet" href="derma/css/slicknav.css">
    <link rel="stylesheet" href="derma/css/style.css">
    <!-- <link rel="stylesheet" href="derma/css/responsive.css"> -->

<style>

</style>
</head>

<body>



</body>
</html>

